 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Lisa</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Lisa and her husband Jon <a href="https://www.robertsoncountyconnection.com/news/springfield-home-named-to-national-register-of-historic-places/article_a467cbfa-9810-58c9-9271-d14473bf2b62.html" target="_blank" id=body>moved into Springfield's Historic District in 2017</a>, and have loved making Springfield their home. Lisa is a proud step-mom to Matilda and Hazel, who also adore this neighborhood. Lisa is actively involved in the local community, including Willow Oak Center for Arts, Robertson County Historical Society, and Bransford Community Center, and more.</p>
                </div>
                <div class="col-lg-4">
                    <p> Since arriving in Springfield, Lisa has launched the first entrepreneur center in Robertson County, TN. Small Town Startup has taught courses to over 150 local leaders and business, with topics including digital marketing, finance, legal, operations, and more. The Robertson County Chamber of Commerce recognized her efforts by <a href="https://www.robertsoncountyconnection.com/community/chamber-of-commerce-honors-supporters/article_2fd9a4f2-684d-11e9-a31a-db3ef635a76e.html" target="_blank" id=body>awarding her their 2019 Community Impact Award</a>.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://springfield-tn.org/217/Board-of-Mayor-Aldermen" target="_blank" class="btn btn-lg btn-outline">
                        <i class="fa fa-map-marker"></i> Am I In Ward Five?
                    </a>
                </div>
            </div>
        </div>
    </section>
